button {
  padding: 5px 10px;
  background-color: $button-color1;
  color: $text-color1;
  font-size: $font-size;
  transition: 250ms ease;
  margin: 2px;
  &:hover {
    cursor: pointer;
    text-shadow: 0 0.3px $text-color1;
    transition: 250ms ease;
  }
}
