.issuelist {
  padding: $general-padding;
  position: relative;
  .issuelist__display {
    // background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
    color: black;
    text-align: center;
    position: relative;
    .view-button {
      padding: 8px 4px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      //
      button {
        background-color: $primary-color2;
        outline: none;
        color: white;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 1px solid $primary-color2;
        transition: 250ms ease;
        font-weight: 700;
        &:hover {
          background-color: white;
          color: $primary-color2;
        }
      }
    }
    span {
      padding: 8px 4px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
    .description {
      cursor: pointer;
    }
    .description-model {
      display: none;
      position: absolute;
      background-color: white;
      color: black;
      height: 80vh;
      width: 100%;
      top: 0;
      .text {
        margin: 0 auto;
        max-width: 500px;
        border: 1px solid black;
      }
    }
    .feasible {
      padding: 8px 4px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 16px;
      a {
        button {
          padding: 5px 10px;
          color: white;
          outline: none;
          border-radius: 8px;
          cursor: pointer;
          transition: 250ms ease;
          &:nth-child(1) {
            background-color: $primary-color1;
            border: 1px solid $primary-color1;
            &:hover {
              background-color: white;
              color: $primary-color1;
            }
          }
        }
        &:nth-child(2) {
          button {
            padding: 5px 10px;
            color: white;
            outline: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 250ms ease;

            background-color: $primary-color2;
            border: 1px solid $primary-color2;
            &:hover {
              background-color: white;
              color: $primary-color2;
            }
          }
        }
      }
    }
  }
}
