.login {
  margin: auto;
  .login__wrapper {
    margin: auto;
    position: relative;
    border: 1px solid black;
    top: 150px;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    width: 450px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    // justify-content: center;
    
      .logintoggle{
        text-decoration: underline;   
        position: absolute;  
        right: 28px;
        top: 60px;
        display: flex;
        text-align: right !important;
        color: red;
        cursor: pointer;
      }

    
    .login-head {
      margin-bottom: 25px;
      h1 {
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          border: 2px solid rgb(255, 166, 166);
          position: absolute;
          width: 25%;
          top: 40px;
          left: 4px;
        }
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      padding: 0 24px;
      position: relative;
      label {
        font-size: 18px;
      }

      input {
        outline: none;
        border: none;
        width: 100%;
        border-bottom: 1px solid $text-color2;
        position: relative;
        padding: 8px;
      }
      .remember-pass{
        .checkbox{
          text-align: left;
        }
        p {
          font-size: 12px;
          cursor: pointer;
        }
     
      }

      .login-button {
        border-radius: 6px;
      }
    }
  }
}
