.user__title {
  padding: $general-padding;
  background-color: #4da167;
  color: $text-color1;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  h2 {
    width: 100%;
  }
  .user-nav{
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: flex-end;
    font-size: 16px;
    a{
      color: white; 
      &:hover{
        font-size: 18px;
      }

    }
    
  }
  .user__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    cursor: pointer;
    span{
      width: 100%;
      width: max-content;
    display: flex;
    position: absolute;
    top: 34px;
    background-color: #56db7f;
    opacity: 4;
    padding: 5px 10px;
    right: 82px;
    }
  }
}
.user {
  max-width: 1400px;
  padding: $general-padding;
  margin: 0 auto;
  position: relative;
  
  .user__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // background-color:white;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    // box-shadow: 0 0.15rem 1.75rem rgb(33, 40, 50, 0.15);
    span {
      padding: 8px 4px;
      border-left: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      text-align: center;
      // color: whitesmoke;
    }
    .negotiation-button {
      padding: 8px 4px;
      border-left: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      text-align: center;
      .hover-text {
        position: relative;
        display: inline-block;
        span {
          display: none;
          position: absolute;
          top: 100%;
          font-size: 15px;
          left: 0;
          font-family: bold;
          border: 1px solid $primary-color2;
          z-index: 2;
          background-color: white;
        }
        &:hover {
          span {
            display: block;
          }
        }
      }
    }
    .table-title {
      background-color: #4DA167;
      color: white;
      font-size: 18px;
    }
  }
  .view-details {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
    inset: 0;
    height: 100vh;
    padding: $general-padding;
    svg{
      color: white;
    }
   
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .user__title {
    text-align: center;
  }
  .user__table {
    grid-template-columns: 1fr;
  }
  .user__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
