.user {
  max-width: 1400px;
  padding: $general-padding;
  .user__title {
    padding: $general-padding;
    background-color: $primary-color2;
    color: $text-color1;
    width: 100%;
    display: flex;
    align-items: center;
    h1{
      width: 100%;
    }  
    .user__name{ 
      display: flex;
      justify-content: flex-end;
      width: 100%;
      &.hover{
        cursor: pointer;
      }
    } 
  }
  .user__button{
    text-align: right;
  }
  .user__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0.15rem 1.75rem rgb(33,40,50,0.15);
    span{
        padding: 8px 4px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
     }
     .negotiation-button{
      padding: 8px 4px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      text-align: center;
     }
    .table-title{
      background-color: rgba(5, 5, 36, 0.664);
      color: white;
      font-size: 22px;
      border: #777777;
    }   
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .user__title {
    text-align: center;
  }
  .user__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
}
