$general-padding: 16px;
$general-margin: 16px;
$gap: 16px;
$font-size: 16px;
$primary-color1: #be2a31;
$primary-color2: #253c7e;
$button-color1: green;
$button-color2: #be2a31;
$text-color1: white;
$text-color2: #777777;
$color-white: #d1d1d1;
